#ex-search-form,
#front-searchbox {
  font-weight: 300;

  ::-webkit-input-placeholder {
    font-weight: 300;
    color: #CFCFCF;
  }

  ::-moz-placeholder {
    font-weight: 300;
    color: #CFCFCF;
  }

  :-ms-input-placeholder {
    font-weight: 300;
    color: #CFCFCF;
  }

  input:-moz-placeholder {
    font-weight: 300;
    color: #CFCFCF;
  }

  .search-name{
    background-image: none;
  }

  .checkbox {
    margin-top: 0;
    margin-bottom: 2px;
  }

  form {
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);

    .form-control-wrapper input {
      margin-top: 5px;
    }
  }

  .dropdown button {
    width: 100%;
    text-align: left;
    background: #eee;
  }
}

#ex-search-form {
  clear: both;
  margin-top: 20px;
  padding-top: $pad20;
  padding-bottom: $pad20;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  @media(min-width:768px) {
    margin-top: 0;
  }

  form {
    padding: 24px 24px 5px 24px;

    .ex-search-link {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      color: black;
      //font-family: 'arsenalbold';
      margin-top: 15px;
      margin-bottom: 5px;

      &:hover {
        color: $decl-green;
      }
    }

    .row {
      @media(min-width:768px) {
        display: flex;
      }

      .col {
        float: none;
      }
    }
  }

  .col-2 {
    fieldset {
      .form-group {
        display: block;
      }
    }
  }

  .col-2,
  .col-3 {
    fieldset {
      height: 100%;
    }
  }

  .form-group .checkbox label,
  .form-group .radio label,
  .form-group label,
  .checkbox label,
  .radio label,
  label {
    color: #333;
  }

  .checkbox {
    .checkbox-material + span {
      padding-left: 10px;
    }

    .checkbox-material {
      &:before {
        top: auto;
      }
    }
  }

  .dropdown {
    width: 100%;

    button {
      width: 100%;
      text-align: left;
      background: #eee;

      &:hover {
        background: $decl-blue;
        color: white;
      }
    }
  }

  #clear-filters {
    margin-top: 5px;
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
  }

  //we have some params in search url
  &.ex-search {
    .ex-search-link {
      display: none;
    }
  }
}

.box {
  background: none repeat scroll 0 0 #fff;
  border: 0 none;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  padding: 30px;
}

.small-profile {
  float: left;

  .box {
    padding: 15px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 50px;
      left: 0;
      top: 0;
      @include blueGradient();
    }

    &:hover {
      box-shadow: inset 0 3px 10px rgba(0,0,0,0.23), inset 0 3px 10px rgba(0,0,0,0.16);
      cursor: pointer;
    }
  }

  .profile-header {
    position: relative;
    z-index: 1;
  }

  .avatar {
    float: left;
    margin-right: 30px;
    display: block;
    height: 100px;
    width: 100px;

    img {
      height: 100px;
      width: auto;
    }

    &.no-foto {
      position: relative;
      background: #eceeef;

      &:after {
        content: "\f3a0";
        font-family: "Ionicons";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0.5;
        font-size: 100px;
      }
    }
  }

  .name {
    color: #FFFFFF;
    font-size: 28px;
    margin-top: 10px;
  }

  .pib {
    display: block;
    text-transform: none;
  }

  h3 {
     font-weight: normal;
     font-size: 20px;
     margin-top: 0;
     text-transform: uppercase;

    span {
      text-transform: capitalize;
    }
  }

  .descr {
    margin-left: 90px;

    p {
      margin-bottom: 0;
    }

    span.small-tip {
      font-size: 12px;
      margin-left: -45px;
      color: #7B7B7B;
    }

  }

}